$color-green-fluo: #24fe41;
$color-blue-dark: #1e3c72;
$color-blue-light: #2a5298;

$font-mono: 'Space Mono', monospace;
$font-open: 'Open Sans', sans-serif;

$font-size-normal: 1.5rem;
$font-size-medium: 1.8rem;
