.hero {
  min-height: 95vh;
  font-size: 4.5rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 6rem 0 6rem 6rem;
  white-space: nowrap;
  @include respond(tab-port) {
    min-height: 100vh;
  }

  &__tiny {
    color: $color-green-fluo;
    font-size: $font-size-normal;
    font-family: $font-mono;
  }
  &__name {
    color: #fff;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
  }

  &__info {
    color: lightgray;
    animation: moveInRight 1.5s;
  }

  &__btn {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}
